.action-bar {
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: #35363A;
}

.action-bar__button {
  font-size: 8vh;
  margin: 0 1vh;
}