.action-bar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}

.action-bar__button {
  font-size: max(8vh, 40px);
  padding: 1vh;
  background-color: #35363A;
  border-radius: 1vh;
}